<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.zsh.internetlearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".NetMainUI"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.learn.zsh.internetlearn.debugpage.HttpClientDebugPage"
            android:label="@string/httpclient_dbg">
            <intent-filter>
                <action android:name="zsh.debug.action.HTTPCLIENTDEBUG_PC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.learn.zsh.internetlearn.debugpage.ImageDownDebugPage"
            android:label="@string/image_down_for_gallery">
            <intent-filter>
                <action android:name="zsh.debug.action.IMAGEDOWNDEBUG_PC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.learn.zsh.internetlearn.debugpage.DefinedViewDbg"
            android:label="@string/user_defind_view">
            <intent-filter>
                <action android:name="zsh.debug.action.USERDEFINDVIEW_PC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.learn.zsh.internetlearn.debugpage.ServiceDebugPage"
            android:label="@string/service_life_debug">
            <intent-filter>
                <action android:name="zsh.debug.action.SERVICEPAGE_PC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="true"/>

        <service android:name=".service.Background2Service"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>